<link rel="stylesheet" href="stylesheets/overview.css"></link>
<div class="page-container">
  <h1>Live Counting Statistics</h1>
  <div class="body-container">
    <div class="news-container">
      News
    </div><div class="main-container">
      <ng-include src="'templates/kgets-page.html'"></ng-include>
      <ng-include src="'templates/kgetters-page.html'"></ng-include>
      <ng-include src="'templates/participants-page.html'"></ng-include>
      <ng-include src="'templates/punchcard-page.html'"></ng-include>
    </div>
  </div>
  <footer>design by <reddit-user username="'ExSeaD'"></reddit-user></footer>
</div>
