body {
  font-family: sans-serif;
  max-width: 48rem;
}
h1 {
  background-color: #F0F0F0;
  text-align: center;
}

ul.navbar {
  padding: 0;
  list-style-type: none;
  display: flex;
}
ul.navbar>li>a {
  padding: 0.25rem 1rem;
  border-bottom: 1px solid #D0D0D0;
}
ul.navbar>li>a.nav-active {
  border: 1px solid #D0D0D0;
  border-bottom: none;
}

h2 {
  border-bottom: 1px solid #D0D0D0;
  font-weight: bold;
}
.deemphasized {
  font-weight: normal;
}

table {
  border-collapse: collapse;
}
th, td {
  border: 0.1rem solid #D0D0D0;
  padding: 0 0.5rem;
}
th {
  padding: 0.2rem 0.5rem;
}
td.contrib-count {
  text-align: right;
}

.graph-labels a {
  color: inherit;
}

a {
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

span.username-prefix {
  opacity: 0.5;
}
